/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 **************************************** COMMON STYLES **********************************************
 *****************************************************************************************************
 *****************************************************************************************************/
:root {
    --main-blue: rgb(31,82,141);
    --dark-main-blue: rgb(27,48,77);
}

* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Maven pro',Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.absolute {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.card {
    width: calc( 100% - 30px);
    background-color: white;
    border-radius: 10px;
    margin: 0 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

.containerHeader {
    width: calc(100% - 10px);
    margin-left: 5px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .containerHeader {
        width: calc(100% - 10%);
        margin-left: 5%;
    }
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *************************************** HOMEPAGE STYLES *********************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 **************************************** HEADER STYLES **********************************************
 *****************************************************************************************************
 *****************************************************************************************************/
header {
    width: 100%;
    position: relative;
    z-index: 1;
}

.header-bg-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("../img/uvodni-fotka.jpg");
    display: flex;
    align-items: center;
}

.section-houses {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 400px;
    background: linear-gradient(to right, var(--main-blue), var(--main-blue), var(--main-blue), whitesmoke, whitesmoke, whitesmoke);
}

.section-houses > h3 {
    color: white;
    padding: 70px 0;
    margin-left: 5%;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line-white {
    display: block;
    height: 4px;
    width: 35px;
    background: white;
    transform: rotateZ(90deg);
    margin-bottom: 20px;
}

.infoCard {
    width: 100%;
    padding: 30px 15px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    position: absolute;
    top: -60px;
    height: 470px;
    background: linear-gradient(white, whitesmoke);
}

.infoCard > h2 {
    margin-bottom: 15px;
}

.infoCard > p {
    line-height: 25px;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}


/* NAVBAR STYLE */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.navbar-inner > img {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,1);
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: right;
}

.menu-open {
    height: 131px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.175);
}

.menu > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    font-weight: 600;
    color: black;
}

.menu > a:hover, .navbar-inner > i:hover {
    color: black;
}

@media (min-width: 576px) {
    .header-bg-photo h1 {
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    .infoCard {
        width: 75%;
        padding: 30px;
        transform: translateX(-50%);
        left: 50%;
        max-width: 740px;
    }

    .header-bg-photo {
        height: 650px;
    }

    .header-bg-photo h1 {
        font-size: 65px;
    }
    .navbar {
        flex-direction: row;
    }
    .navbar-inner {
        width: 194px;
    }
    .navbar-inner > img:last-child {
        display: none;
    }
    .menu {
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu > a {
        font-size: 14px;
        margin-top: 0;
        margin-right: 25px;
    }
}

@media (min-width: 992px) {
    .infoCard {
        width: 50%;
        padding: 40px;
    }
}

@media (min-width: 1200px) {
    .infoCard {
        padding: 40px 80px;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ HOUSE SECTION STYLES *******************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.house-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: -30px 0 120px 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.inner-house-slider {
    width: 100%;
    position: relative;
}

.card-house {
    width: calc(100% - 30px)!important;
    margin: 0 15px!important;
}

.img-house-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: block;
    position: relative;
    background-image: url("../img/dum01.jpg");
    border-radius: 10px 10px 0 0;
}

.img-house-div2 {
    background-image: url("../img/dum02.jpg");
}

.card-house-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.card-house-text > span {
    align-items: center;
}

.card-house-text > span:first-child {
    font-weight: 600;
    margin-bottom: 10px;
}

.card-house-text > span:last-child > small {
    font-size: 8px;
}

.move-next-slider {
    position: absolute;
    right: 0;
    top: 15%;
    width: 60px;
    height: 60px;
    background-color: var(--main-blue);
    color: white;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
    outline: none;
    border: none;
    cursor: pointer;
    transform: translateY(50%);
}

.move-next-slider:hover {
    background-color: var(--dark-main-blue);
}

.move-next-slider > img {
    width: 33px;
    height: 33px;
}



@media (min-width: 360px) {
    .house-slider {
        margin: -110px 0 120px 0;
    }
}

@media (min-width: 540px) {
    .house-slider {
        margin: -180px 0 120px 0;
    }
    .img-house-div {
        height: 250px;
    }
}

@media (min-width: 576px) {
    .card-house-text {
        flex-direction: row;
    }
    .card-house-text > span:first-child {
        margin-bottom: 0px;
    }
    .move-next-slider {
        top: 25%;
    }
}


@media (min-width: 768px) {
    .inner-house-slider {
        margin-right: -75px;
    }
    .move-next-slider {
        right: 75px;
    }
    .img-house-div {
        height: 300px;
    }
}

@media (min-width: 900px) {
    .house-slider {
        margin: -220px 0 120px 0;
    }
}

@media (min-width: 992px) {
    .house-slider {
        margin: -180px 0 120px 0;
    }
    .inner-house-slider {
        margin-right: -150px;
    }
    .move-next-slider {
        right: 150px;
    }
}

@media (min-width: 1200px) {
    .house-slider {
        margin: -195px 0 170px 0;
    }
    .img-house-div {
        height: 400px;
    }
    .move-next-slider {
        top: 33%;
    }
}


/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ KATALOG BUTTON STYLES ******************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.katalog-button {
    position: absolute;
    top: -65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    background-color: var(--dark-main-blue);
    color: white;
    box-sizing: border-box;
    text-align: center;
}

.katalog-button > h2 {
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.big-white-button {
    margin-top: 20px;
    padding: 18px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: white;
    color: var(--main-blue);
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 22px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 22px -2px rgba(0,0,0,0.75);
    box-shadow: 0 0 22px -2px rgba(0,0,0,0.75);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-white-button:hover {
    background-color: #d5e4f6;
}

.big-white-button:hover > img {
    color: ghostwhite;
}

.big-white-button > img {
    margin-left: 10px;
}

@media (min-width: 768px){
    .big-white-button {
        padding: 20px 32px;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .katalog-button {
        width: 70%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        border-radius: 0 10px 10px 0;
    }

    .katalog-button > h2 {
        width: fit-content;
        padding: 0;
        margin-right: 20px;
    }

    .big-white-button {
        margin-top: 0;
        padding: 22px 40px;
        font-size: 17px;
        margin-right: -130px;
    }
}

@media (min-width: 1200px) {
    .katalog-button {
        width: 60%;
    }

    .big-white-button {
        padding: 25px 60px;
        font-size: 16px;
    }
}


/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************** SECTION CARD STYLES ******************************************
 *****************************************************************************************************
 *****************************************************************************************************/
.section-cards {
    position: relative;
    padding: 140px 0 40px 0;
    background: linear-gradient(var(--main-blue), var(--dark-main-blue))
}

.section-cards > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-cards-column {
    width: 100%;
}

.card-text {
    padding: 30px;
    box-sizing: border-box;
    line-height: 22px;
    margin-bottom: 20px;
}

.card-icon {
    height: 60px;
    width: 60px;
}

.card-text-nadpis {
    margin: 5px 0 20px 0;
    font-size: 28px;
}

.card-text-first, .card-text-second {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}

.card-text-first {
    font-weight: bold;
    margin: 5px 0 15px 0;
    color: black;
}

@media (min-width: 768px) {
    .card-text {
        padding: 30px 50px;
    }
    .section-cards-column {
        width: 50%;
    }

    .section-cards-column:nth-child(2) {
        margin-top: 80px;
    }
}


/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 **************************************** INFO STYLES **********************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.info {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}

.info-quater {
    width: 100%;
    color: white;
    line-height: 17px;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.info-quater > h4 {
    margin-bottom: 16px;
    font-size: 20px
}

.menu-quater {
    display: flex;
    flex-direction: column;
}

.menu-quater-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.menu-quater-inner > a {
    width: 50%;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}

.info-quater > a, .info-quater-inner > a {
    font-size: 14px;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.info-quater > img {
    height: 120px;
    width: 150px;
}

.info-socialky {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px
}

.info-socialky > img {
    margin-right: 18px;
    height: 25px;
    width: 30px;
}

.info-socialky > i:last-child {
    margin-right: 0;
}

.menu-quater > a:hover, .info-socialky > i:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 576px) {
    .info-quater {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .info-quater {
        width: 25%;
        align-items: flex-start;
        justify-content: left;
    }

    .menu-quater-inner {
        text-align: left;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 **************************************** FOOTER STYLES **********************************************
 *****************************************************************************************************
 *****************************************************************************************************/

footer {
    width: 100%;
    background-color: #262626;
    color: rgba(255,255,255,0.8);
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
}



/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ SLUZBY CUSTOM STYLES *******************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.bg-photo-blue {
    height: 600px;
    background-image: linear-gradient(rgba(37, 78, 128, 0.9), rgba(37, 78, 128, 0.9)), url("../img/uvodni-fotka.jpg");
}

.bg-photo-blue > div > h1 {
    width: fit-content;
    margin: 0 auto 10px auto;
}

.bg-photo-blue > div > p {
    width: fit-content;
    margin: auto;
    color: white;
    max-width: 650px;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    padding: 0 10px;
}

.sluzby-section {
    padding-bottom: 200px;
    background-color: transparent;
    margin-top: -10px;
    position: relative;
    z-index: 10;
    height: fit-content;
}

.sluzby-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sluzby-section-card {
    width: calc(100% - 10px);
    max-width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 5px 20px 5px;
    border-radius: 10px;
}

.sluzby-section-card:first-child {
    margin-top: -50px;
}

.sluzby-section-card:last-child {
    margin-bottom: -50px;
}

.sluzby-section-card-number {
    background-color: var(--main-blue);
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.sluzby-section-card-text {
    padding: 30px 40px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

.sluzby-section-card-text > h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.sluzby-section-card-text > p {
    font-size: 14px;
    color: rgba(0,0,0,0.75);
    line-height: 25px;
}

.dark-blue-box {
    background-color: transparent;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .bg-photo-blue {
        height: 550px;
    }
    .bg-photo-blue > div > p {
        padding: 0;
    }
    .sluzby-section {
        padding-bottom: 250px;
        margin-top: -40px;
    }
    .sluzby-section-card {
        flex-direction: row;
    }
    .sluzby-section-card-number {
        font-size: 45px;
        padding: 30px;
        border-radius: 10px 0 0 10px;
        max-width: 160px;
        min-width: 160px;
        width: 160px;
    }
    .sluzby-section-card-text {
        border-radius: 0 10px 10px 0;
    }
    .dark-blue-box {
        background-color: var(--dark-main-blue);
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ IDK CUSTOM STYLES **********************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.house-info-white {
    position: relative;
    z-index: 10;
    background: linear-gradient(white, white, whitesmoke);
    width: calc(100% - 10px);
    margin: -50px auto 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.house-info-white > div > h2 {
    margin-bottom: 20px;
}

.house-info-white > div:nth-child(1) {
    padding: 0;
    box-sizing: border-box;
}

.house-info-white > div:nth-child(1) > p:nth-child(2) {
    margin-bottom: 10px;
}

.house-info-white > div > p {
    line-height: 25px;
    font-size: 14px;
}

.house-info-blue {
    background-color: var(--main-blue);
    color: white;
    min-width: 280px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin: 30px auto 30px auto;
    border-radius: 10px;
}

.house-info-blue > p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
}

.house-info-blue > p:nth-child(5) {
    margin-top: 20px;
    font-weight: 400;
}

.house-info-blue > h5 {
    font-size: 17px;
}
.house-info-blue > h5 > small {
    font-size: 10px;
    font-weight: 400;
}

.rodinny-dum-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 50px;
}

.more-info-blue {
    width: 100%;
    background-color: var(--dark-main-blue);
    border-radius: 10px;
    padding: 20px;
    margin: -190px 0 100px 0;
    position: relative;
    z-index: 2;
    color: white;
}

.more-info-blue > h2, .more-info-blue > h4 {
    margin-bottom: 10px;
}

.more-info-blue > p {
    font-size: 14px;
}

.more-info-blue > p:nth-child(3) {
    margin-bottom: 30px;
}

.more-info-blue > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mini-blue-card {
    width: 100%;
    margin: 10px 0;
    background-color: var(--main-blue);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.mini-blue-card > span {
    background-color: #284671;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.Form {
    margin-top: 20px;
}

.Form label {
    font-weight: 600;
    font-size: 14px;
}

.Form input, .Form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
}

.Form > div {
    margin-bottom: 20px;
}

.Form-100, .Form50 {
    display: flex;
    flex-direction: column;
}

.Form-100 {
    width: 100%;
}

.Form-50 {
    width: 100%;
}

.big-transparent-button {
    padding: 20px 40px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 50px;
    display: block;
    margin: 30px auto 0 auto;
}

.big-transparent-button:hover {
    background-color: white;
    color: var(--main-blue);
    cursor: pointer;
}

.more-info-blue > small {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.more-houses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.more-houses-nadpis {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

/* nutny !IMPORTANT at prepise nastaveni z karet z homepage */
.more-houses > div {
    width: calc(100% - 10px) !important;
    margin: 0 auto 20px auto!important;
}

.more-houses > div > div {
    height: 300px !important;
}

@media (min-width: 768px) {
    .house-info-white {
        padding: 40px;
    }
    .rodinny-dum-cards > div {
        width: calc(50% - 30px) !important;
        margin: 0 15px!important;
    }
    .more-info-blue {
        padding: 40px;
    }
    .more-info-blue > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mini-blue-card {
        width: calc(50% - 10px);
        margin-left: 10px;
    }
    .mini-blue-card:nth-child(odd) {
        margin-right: 10px;
        margin-left: 0;
    }
    .Form-50 {
        width: calc(50% - 20px);
    }
    .more-houses > div {
        width: calc(50% - 20px) !important;
    }
}

@media (min-width: 992px) {
    .house-info-white {
        flex-direction: row;
    }
    .house-info-white > div:nth-child(1) {
        padding: 0 30px 0 0;
    }
    .house-info-blue {
        margin: -60px -100px 30px auto;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *********************************** KATALOG DOMU STYLES *********************************************
 *****************************************************************************************************
 *****************************************************************************************************/
.kd-domy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    margin-top: -100px;
    margin-bottom: 100px;
}

.kd-domy > div {
    margin-bottom: 15px!important;
}

@media (min-width: 992px) {
    .kd-domy {
        margin-bottom: 150px;
    }
    .kd-domy > div {
        width: calc(50% - 30px) !important;
        margin: 0 30px 30px 0;
    }
    .kd-domy > div > div {
        height: 300px;
    }
    .katalog-heading {
        font-size: 82px!important;
    }
}

@media (min-width: 1200px) {
    .kd-domy {
        margin-bottom: 200px;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 *********************************** PRAVE STAVIME STYLES ********************************************
 *****************************************************************************************************
 *****************************************************************************************************/
.bg-photo-ps {
    height: 500px;
    background-image: none;
}

.bg-photo-ps > div > h1 {
    color: var(--main-blue)
}

.bg-photo-ps > div > p {
    color: black;
}

.photo-ps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-top: -100px;
}

.photo-ps > div {
    width: calc(100% - 10px);
    height: 200px;
    background-image: url(../img/dum01.jpg);
    border-radius: 10px 10px 0 0;
    margin: 0 5px 10px 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 576px) {
    .photo-ps > div {
        width: calc(50% - 20px);
        margin: 0 10px 20px 10px;
    }
}

@media (min-width: 1200px) {
    .photo-ps > div {
        width: calc(33% - 30px);
        margin: 0 15px 20px 15px;
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ KONTAKT CUSTOM STYLES ******************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.bg-photo-contact {
    height: 900px;
    background-image: none;
 }

.kontakt-main-heading {
    color: var(--main-blue); 
    font-size: 50px;
    width: fit-content;
    margin: 0 auto 20px auto!important;
}

.button-styling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blue-button {
    background-color: var(--main-blue);
    color: white;
    padding: 30px 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

.button-styling > p {
    color: black;
    margin: 40px 0 0 40px;
    font-weight: 500;
}

.contact-form-heading {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: 400;
}

 .contact-main-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 80px;
}

.contact-card {
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 0 10px 10px 10px!important;
    width: calc(100% - 20px);
}

.contact-card > p {
    padding-left: 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-card > small {
    padding-left: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.contact-card > span {
    padding-left: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;

}

.contact-photo {
   background-image: url(../img/dum01.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 200px;
   width: 100%;
   border-radius: 10px 10px 0 0;
   margin-bottom: 10px;
}

 .office-main-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .office-photo {
    width: calc(100% - 20px);
    background-image: url(../img/dum01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    height: 250px;
    border-radius: 10px;
 }

 .office-photo:nth-last-child() {
    margin-right: 0px;
 }

 .h2-heading {
    color: white;
    margin: 10px auto;
    font-size: 34px;
    text-transform: uppercase;
    width: fit-content;
 }

 .office-map {
     margin: 10px 10px 50px 10px;
     border-radius: 10px;
     overflow: hidden;
 }

 @media (min-width: 576px) {
    .blue-button {
        padding: 30px 100px;
    }
    .office-photo {
        width: calc(50% - 20px);
     }
}

@media (min-width: 768px) {
    .kontakt-main-heading {
        font-size: 100px!important;
    }
    .contact-card {
        width: calc(50% - 20px);
    }
}

@media (min-width: 992px) {
    .kontakt-main-heading {
        margin: 0 auto 40px 0!important;
    }
    .button-styling {
        align-items: center;
        justify-content: flex-start;
    }
    .contact-card {
        width: calc(33.33% - 20px);
    }
    .office-photo {
        width: calc(25% - 20px);
    }
}

/*****************************************************************************************************
 *****************************************************************************************************
 *****************************************************************************************************
 ************************************ O NÁS CUSTOM STYLES ********************************************
 *****************************************************************************************************
 *****************************************************************************************************/

.bg-photo-aboutUs {
    height: 1300px;
    background-image: none;
}

.about-us-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 50px;
}

.about-us-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews {     
    display: flex;     
    flex-direction: row;     
    flex-wrap: nowrap;     
    align-items: center;
    margin-top: -270px;
}  
    
.review-name {     
    padding: 80px;     
    font-size: 28px;     
    font-weight: 600;     
    background-color: var(--main-blue);     
    border-radius: 10px;     
    box-sizing: border-box;     
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}  
    
.review-name > span {     
        font-weight: 500;     
        font-size: 17px;
}  
        
.review-text {     
    padding: 20px 60px;     
    background-color: white;     
    border-radius: 0 10px 10px 0;     
    font-size: 16px;     
    color: rgba(0,0,0,0.75);     
    line-height: 25px;
}  
    
.arrow-left {     
    padding: 20px;    
    background-color: var(--dark-main-blue);     
    border-radius: 10px 0 0 10px;
}  
    
.arrow-left2 {     
    border-radius: 0 10px 10px 0; 
}  

.arrow-left > img {     
    width: 35px;     
    height: 35px;     
    transform: rotateZ(180deg);
}  

.arrow-left2 > img {     
    width: 35px;     
    height: 35px;     
    transform: rotateZ(0deg);
}

@media (min-width: 400px) {
    .bg-photo-aboutUs {
        height: 1000px;
        background-image: none;
    }
}
@media (min-width: 576px) {
    .bg-photo-aboutUs {
        height: 800px;
        background-image: none;
    }
}
@media (min-width: 992px) {
    .about-us-column {
        width: 50%;
    }
    .about-us-column:nth-child(2) {
        margin-top: 110px;
    }
}

/* resposive widths */
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}